authentik:
  secret_key: file:///secrets/authentik-secret-key/secret_key
  error_reporting:
    enabled: false
  postgresql:
    host: postgresql.shared-app.svc.cluster.local
    port: 5432
    name: authentik
    user: shared_user
    password: file:///secrets/postgres-password/password

server:
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: ishiori-local-general-issuer
      cert-manager.io/common-name: authentik.kube.ishiori.lnet
      nginx.ingress.kubernetes.io/backend-protocol: HTTP
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - authentik.kube.ishiori.lnet
    paths:
      - /
    pathType: Prefix
    tls:
      - hosts:
          - authentik.kube.ishiori.lnet
        secretName: authentik-server-tls
  volumes:
    - name: postgres-password
      secret:
        secretName: global-password
    - name: authentik-secret-key
      secret:
        secretName: authentik-secret-key
  volumeMounts:
    - name: postgres-password
      mountPath: /secrets/postgres-password
      readOnly: true
    - name: authentik-secret-key
      mountPath: /secrets/authentik-secret-key
      readOnly: true

worker:
  replicas: 1
  volumes:
    - name: postgres-password
      secret:
        secretName: global-password
    - name: authentik-secret-key
      secret:
        secretName: authentik-secret-key
  volumeMounts:
    - name: postgres-password
      mountPath: /secrets/postgres-password
      readOnly: true
    - name: authentik-secret-key
      mountPath: /secrets/authentik-secret-key
      readOnly: true

postgresql:
  enabled: false
